h1 {
  text-align: center;
  color: blue;
}

#container {
  width: 950px;
  height: 50px;
  background: green;
  position: relative;
}

#box {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
}

#box2 {
  width: 50px;
  height: 50px;
  background: blue;
  position: absolute;
}
#box3 {
  width: 50px;
  height: 50px;
  background: yellow;
  position: absolute;
}

#box4 {
  width: 50px;
  height: 50px;
  background: purple;
  position: absolute;
}

#box5 {
  width: 50px;
  height: 50px;
  background: orange;
  position: absolute;
}

#buttonWrapper {
  text-align: center;
}

#button {
  position: absolute;
  text-align: center;
  background: white;
  border-radius: 25%;
}
#winner {
  text-align: center;
  font-weight: 900;
  font-size: 2em;
}
